<ion-view view-title="Main Page">
      <ion-pane class="">
        <ion-content>
          <div class="card">
            <div class="item item-divider">
              Recent animes
            </div>

          </div>
        </ion-content>
        <hscroller>
          <hcard ng-repeat="anime in starter.animeList" ui-sref="main.anime({id:anime._id})" index="{{$index}}" desc="{{anime.title}}" image="{{anime.info.poster}}"></hcard>
        </hscroller>
      </ion-pane>
</ion-view>
