<ion-view view-title="Title">
  <ion-content>
	<div class="range">
	  <i class="icon ion-volume-low"></i>
	  <input type="range" name="volume">
	  <i class="icon ion-volume-high"></i>
	</div> 
	<ul class="list">

	  <li class="item item-toggle">
	     HD Quality
	     <label class="toggle toggle-positive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
  	  <li class="item item-toggle">
	     Subtitles
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
  	  <li class="item item-toggle">
	     Notifications
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>



	</ul>
  </ion-content>


</ion-view>