<ion-view view-title="Latest anime">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
<!--     <div class="list">

      <a class="item item-thumbnail-left" data-ng-repeat="anime in animeList" href="#/app/animes/{{anime.id}}">
        <img ng-src="{{anime.info.poster}}">
        <h2>{{anime.title}}</h2>
        <p>{{anime.description}}</p>
      </a>


    </div>
 -->    
    <div class="list card" data-ng-repeat="anime in animeList">

   <a class="" ui-sref="main.anime({id:anime._id})">

      <div class="item item-body">
        <img class="full-image" ng-src="{{anime.info.poster}}">
          
        <p>
          <h2 class="title">{{anime.title}}</h2>
          <a href="#" class="subdued">{{anime.info.releaseDate}}</a>
          <br>
          <a href="#" class="subdued">{{anime.rating}}</a>
        </p>
      </div>
  </a>


      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>

        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
