<ion-popover-view style="height:120px;" ng-click="popover.hide()">
      <ion-content>
       <ion-list>
       <ion-item menu-close ng-click="login()">
          <i class="icon ion-log-in larger"></i>
          Login
        </ion-item>
        <ion-item>
          <a ui-sref="main.settings" style="padding: 0;" class="item">
            <i class="icon ion-gear-a larger"></i>
            Settings 
          </a>
        </ion-item>
      </ion-list>
      </ion-content>
  </ion-popover-view>