<ion-view view-title="{{anime.animeSingle.title}}" style="height:100%;">
  <ion-content style="height:100%;">
<!--   <paper-scroll-header-panel class="flex">
    <paper-toolbar>
      <div>{{anime.title}}</div>
    </paper-toolbar>
  </paper-scroll-header-panel>
 -->	<div style="position:relative;" class="bar bar-header">
	  <h2 class="title">{{anime.animeSingle.title}}</h2>
    <p>{{anime.animeSingle.info.linkData._id}}</p>
    <p>{{anime.animeSingle.info.linkData.link}}</p>
	</div>	
    
	<div class="item">
        <p>{{anime.animeSingle.info.year}}</p>
        <p>{{anime.animeSingle.info.episodes}}</p>
    </div>
    <iframe ng-src="{{selectModel | trusted}}" width="100%" height="200px" frameborder="0"></iframe>
  </ion-content>
	<div class="bar bar-footer bar-balanced">
          <button class="button button-assertive" modal-select="" ng-model="selectModel" options="anime.animeSingle.info.linkData" option-property="link">
            {{ selectModel || &apos;Select it&apos;}}
            <div class="option">
              <p>{{option.link}}</p>
            </div>
          </button>    
  </div>
</ion-view>
