html, body {
  height: 100%;
  margin: 0;
  background: #333;
}
paper-scroll-header-panel {
  height: 100%;
}

.larger {
	font-size: 20px
} 
div.hscroller {
  position: relative;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); 
}


//Horizontal scrollbar overrides /starter page
$hscroller-lateral-padding: 10px;
$hscroller-card-height: 220px;
$hscroller-card-width: 120px;
$hscroller-image-height: 160px;
$hscroller-image-width: 120px;
$hscroller-card-animate-time: 0.5s;
$hscroller-cards-to-animate: 12;




div.hscroller{

	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	padding-left: $hscroller-lateral-padding;

	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	&::-webkit-scrollbar{
		display:none;
	}

}

div.hscroller-card{
	width: $hscroller-card-width;
	height: $hscroller-card-height;
	display: inline-block;
	// background-color: #262626;
	vertical-align: middle;
	margin: 0 2px;

	img{
		height: $hscroller-image-height;
		width: $hscroller-image-width;
	}

	div.hscroller-label{
		font-family: "Open Sans", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
		font-size: 15px;
		line-height: 16px;
		padding: 0 0.2em;
		color: #333;
		margin: 0;
		word-wrap: break-word;
		text-align: center;
		white-space: normal;
		height: calc($hscroller-card-height - $hscroller-image-height);
	}

	&:last-child {margin-right: $hscroller-lateral-padding;}
}


@media screen and (min-width:1025px){
	div.hscroller{
		overflow-x: hidden;
	}
}

$i: 1;
@while $i < $hscroller-cards-to-animate {
  div.hscroller-card-animated-#{$i}{
  	animation: fadein $hscroller-card-animate-time * $i;
	-moz-animation: fadein $hscroller-card-animate-time * $i; /* Firefox */
	-webkit-animation: fadein $hscroller-card-animate-time * $i; /* Safari and Chrome */
	-o-animation: fadein $hscroller-card-animate-time * $i; /* Opera */
  }
  $i: $i + 1;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}