<ion-view view-title="Search Anime">
  <ion-content
             start-y="0"
             padding="false"
             has-tabs="true"
             has-header="true"
             >
     	
    <div id="search-box" class="bar bar-header item-input-inset">
      <div class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="data.sQuery" ng-change="search.searchAnime(data.sQuery)">
      </div>
      <button ng-click="search.clearSearch()" class="button button-clear">
        Cancel
      </button>
    </div>

	  <div ng-repeat="anime in searchResult">
      <a class="item item-thumbnail-left"  ui-sref="main.anime({id:anime._id})">
        <img ng-src="{{anime.info.poster}}" alt="">
        <h2>{{anime.title}}</h2>
        <p>{{anime.info.year}}</p>
        <p>{{anime.rating}}</p>
      </a>
    </div>         	

  </ion-content>
</ion-view>
